body  {	 border: 3px solid rgb(75,75,75);
    box-shadow: 0 0 15px 5px rgba(44,82,100,.75);
    max-width: 760px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
   }